sphinx>=3.5
breathe>=4.30
myst-parser[linkify]>=0.14.0
pydata-sphinx-theme
sphinx-hoverxref>=0.3b1
sphinx-panels
sphinxcontrib-bibtex>=2.1.1
sphinxcontrib-katex
sphinxcontrib-mermaid
sphinxcontrib-svg2pdfconverter
